#bg {
    background: #B7DACA;
    /* background: -moz-linear-gradient(0deg, rgba(240,234,218,0.0984768907563025) 0%, rgba(5,79,72,0.6278886554621849) 100%);
    background: -webkit-linear-gradient(0deg, rgba(240,234,218,0.0984768907563025) 0%, rgba(5,79,72,0.6278886554621849) 100%);
    background: linear-gradient(0deg, rgba(240,234,218,0.0984768907563025) 0%, rgba(5,79,72,0.6278886554621849) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0eada",endColorstr="#054f48",GradientType=1); */
}